@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 940px;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header .header__top-line {
  width: 100%;
  background: #eaeaea;
  height: 7px;
}

.header .header__top-line .header__top-line-img {
  margin: 0 auto;
  text-align: center;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px 0;
}

.header .header__inner .logo {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
}

.header .header__inner .logo a {
  color: #474747;
  text-decoration: none;
}

.header .header__inner .navbar {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.header .header__inner .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header__inner .navbar ul li {
  text-align: left;
}

.header .header__inner .navbar ul li:not(:last-child) {
  margin-right: 60px;
}

.header .header__inner .navbar ul li span {
  display: block;
  font-size: 12px;
  color: #a5a5a5;
}

.header .header__inner .navbar ul li a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__inner .navbar ul li a:hover {
  color: #a5a5a5;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .header__inner {
    margin: 0 50px;
  }
  .header__top-line {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .header__inner {
    margin: 0 50px;
  }
  .header__top-line {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .header .header__inner {
    display: block;
    text-align: center;
  }
  .header .header__inner .logo {
    font-size: 80px;
  }
  .header .header__inner .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__inner .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__inner .navbar ul li {
    margin: 0;
    text-align: center;
  }
  .header .header__inner .navbar ul li:not(:last-child), .header .header__inner .navbar ul li:not(:first-child) {
    margin: 0;
    margin-top: 20px;
  }
  .header .header__inner .navbar ul li span {
    font-size: 40px;
  }
  .header .header__inner .navbar ul li a {
    font-size: 60px;
  }
  .header__top-line {
    display: none;
  }
}

.slide {
  position: relative;
  font-family: 'Bebas Neue', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .slide__info {
  width: 940px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  outline: none;
}

.slide .slide__info .slide__text {
  padding: 10px 20px;
  background: #474747;
  text-transform: uppercase;
}

.slide .slide__info .slide__text .slide-text-first {
  display: block;
  font-size: 14px;
  color: #9a9a9a;
}

.slide .slide__info .slide__text .slide-text-secondary {
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
}

.slide .slide__info .slide__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .slide__info .slide__number .slide-position {
  cursor: pointer;
  content: "";
  display: block;
  width: 23px;
  height: 5px;
  background: #fff;
  margin: 0 40px 15px 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.slide .slide__info .slide__number .slide-position:not(:last-child) {
  margin-right: 7px;
}

.slide .slide__info .slide__number .slide-position:hover {
  background: #444444;
}

.slide .slide__info .slide__number .slide-active {
  background: #444444;
}

.info-about-slide {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  width: 940px;
}

.info-about-slide .info__img {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.info-about-slide .info-a-s__text {
  margin: 0;
  padding: 20px 15px;
  color: #474747;
  background: #f6f6f6;
  font-family: 'Bebas Neue', cursive;
}

.info-about-slide .info-a-s__text h3 {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.info-about-slide .info-a-s__text p {
  margin-top: 15px;
  font-size: 12px;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .slide .slide__number {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .slide {
    display: none;
  }
  .info-about-slide {
    display: none;
  }
}

.features__inner {
  margin: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__inner .features__blcok {
  width: 300px;
}

.features__inner .features__blcok .features__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__inner .features__blcok .features__titel h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  width: 200px;
  margin-left: 30px;
  color: #474747;
}

.features__inner .features__blcok .features__titel img {
  height: 50px;
}

.features__inner p {
  font-family: "HelveticaNeueCyr-Thin";
  color: #414141;
  font-size: 15px;
  margin: 20px 0;
}

.features__inner a {
  color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features__inner a span {
  margin-left: 10px;
}

.features__inner a:hover {
  color: #a5a5a5;
}

@media (min-width: 200px) and (max-width: 600px) {
  .features__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__inner .features__blcok {
    width: 280px;
  }
  .features__inner .features__blcok:not(:first-child) {
    margin-top: 100px;
  }
  .features__inner .features__blcok .features__titel h1 {
    font-size: 35px;
  }
  .features__inner .features__blcok p {
    font-size: 30px;
  }
  .features__inner .features__blcok a {
    font-size: 30px;
  }
  .features__inner .features__blcok a img {
    height: 20px;
  }
}

.lw__work {
  background: #fff url(../../img/HeaderBackground.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lw__work .lw-titel {
  background: #fff;
  width: 180px;
}

.lw__work .lw-titel h1 {
  font-size: 25px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #474747;
}

.lw__carts {
  width: 940px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 220px;
}

.lw__carts .cart {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.lw__carts .cart:not(:first-child) {
  margin-left: 20px;
}

.lw__carts .cart h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #474747;
  font-family: 'Bebas Neue', cursive;
}

.lw__carts .cart p {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 15px;
  color: #474747;
}

.lw__carts .cart a {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474747;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lw__carts .cart a span {
  margin-left: 10px;
}

.lw__carts .cart a:hover {
  color: #a5a5a5;
}

@media (min-width: 600px) and (max-width: 940px) {
  .lw__carts {
    margin-right: 20px;
    margin-left: 20px;
  }
  .lw__carts .cart .cart-img {
    height: 115px;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .lw__work {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lw__work .lw-titel {
    margin: 50px 0;
  }
  .lw__work .lw-titel h1 {
    font-size: 40px;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
  }
  .lw__carts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .lw__carts .cart {
    margin-bottom: 50px;
  }
  .lw__carts .cart:not(:first-child) {
    margin: 0;
    margin-bottom: 50px;
  }
  .lw__carts .cart .cart-img {
    height: 200px;
  }
  .lw__carts .cart h1 {
    font-size: 30px;
  }
  .lw__carts .cart p {
    font-size: 25px;
  }
  .lw__carts .cart a {
    font-size: 20px;
  }
  .lw__carts .cart a img {
    height: 15px;
  }
}

.footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: #fff url(../../img/FooterLine.png) repeat;
  height: 5px;
}

.footer__content {
  background: #f8f8f8;
}

.footer__content .footer__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content .footer__inner .text {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  color: #9b9b9b;
}

.footer__content .footer__inner .text span {
  color: #656565;
}

@media (min-width: 600px) and (max-width: 940px) {
  .footer {
    position: fixed;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer {
    position: fixed;
  }
}

.posts__meneger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 45px 0;
}

.posts__meneger .pages-posts {
  cursor: pointer;
  content: "";
  display: block;
  width: 23px;
  height: 5px;
  background: #9a9a9a;
  margin: 0 40px 15px 0;
  -webkit-transition: 0.4;
  transition: 0.4;
}

.posts__meneger .pages-posts:not(:last-child) {
  margin-right: 7px;
}

.posts__meneger .pages-posts:hover {
  background: #444444;
}

.posts__meneger .pages-now {
  background: #e8e6e6;
}

.blog-content__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog-content__inner .b-c__main-part {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.blog-content__inner .b-c__main-part .b-c__main-part__titel {
  text-align: left;
}

.blog-content__inner .b-c__main-part .b-c__main-part__titel h1 {
  color: #474747;
  font-size: 25px;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1px;
}

.blog-content__inner .b-c__main-part .b-c__main-part__titel p {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 15px;
  color: #9e9e9e;
  width: 520px;
  margin-top: 10px;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content {
  text-align: left;
  width: 100%;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical {
  margin-top: 20px;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical-top__line {
  background: #fff url(../../img/blog/HeaderBack.png) no-repeat;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px auto;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__titel {
  color: #464646;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Bebas Neue', cursive;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__img {
  margin: 10px 0;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info {
  width: 90%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__briefly {
  width: 20%;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__briefly .a_i_brf .a_i_brf_titel {
  margin-top: 8px;
  font-size: 18px;
  letter-spacing: 0.8px;
  color: #464646;
  font-family: 'Bebas Neue', cursive;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__briefly .a_i_brf .a_i_brf_titel-info {
  color: #bababa;
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  margin-top: 5px;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__text {
  width: 75%;
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__text p {
  color: #414141;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Thin";
}

.blog-content__inner .b-c__main-part .b-c__main-part__content .b-c-artical .artical__info .artical__info__text p:not(:first-child) {
  margin-top: 20px;
}

.b-c__second-part {
  margin-top: 46px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.b-c__second-part .b-c__section {
  margin: 20px 0;
}

.b-c__second-part .b-c__section .b-c__sections__titel {
  font-family: 'Bebas Neue', cursive;
  color: #464646;
  font-size: 15px;
  letter-spacing: 1px;
}

.b-c__second-part .b-c__section .sections-line-img {
  background: #fff url(../../img/blog/Line.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5px;
  margin: 10px 0;
}

.b-c__second-part .b-c__section p {
  color: #464646;
  font-size: 14px;
  font-family: "HelveticaNeueCyr-Thin";
}

.b-c__second-part .b-c__section ul {
  list-style: none;
}

.b-c__second-part .b-c__section ul li {
  margin-top: 10px;
}

.b-c__second-part .b-c__section ul li a {
  color: #464646;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Thin";
  text-decoration: none;
}

.b-c__second-part .b-c__section .section__twit {
  margin-top: 20px;
}

.b-c__second-part .b-c__section .section__twit .sections-twit-post {
  color: #464646;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Thin";
}

.b-c__second-part .b-c__section .section__twit .sections-twit-post .twit-excretion {
  color: #999999;
}

.b-c__second-part .b-c__section .section__twit .sections-twit-time {
  margin-top: 5px;
  color: #999999;
  font-size: 12px;
  font-family: "HelveticaNeueCyr-Thin";
}

.artical-top__line {
  background: #fff url(../../img/blog/HeaderBack.png) no-repeat;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 30px auto;
}

@media (min-width: 750px) and (max-width: 1200px) {
  .blog-content .container {
    width: 700px;
  }
  .blog-content .container .b-c-artical {
    width: 400px;
  }
  .blog-content .container .artical__img img {
    height: 210px;
  }
}

@media (min-width: 600px) and (max-width: 749px) {
  .b-c__second-part {
    display: none;
  }
  .blog-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-content__inner .b-c__main-part__content {
    display: block;
  }
  .posts__meneger {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 200px) and (max-width: 599px) {
  .b-c__second-part {
    display: none;
  }
  .blog-content__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blog-content__inner .b-c__main-part__content {
    display: block;
  }
  .blog-content__inner .artical__img img {
    height: 250px;
  }
  .blog-content__inner .b-c-artical .artical__info__text {
    width: 50px;
  }
  .posts__meneger {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about .about__text {
  text-align: left;
  max-width: 500px;
}

.about .about__text .about__titel {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #474747;
  letter-spacing: 0.7px;
}

.about .about__text .about__sub-title {
  color: #9e9e9e;
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  margin-top: 10px;
}

.about .about__line {
  background: #fff url(../../img/about/HeaderBackground.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 5px;
  margin: 20px 0;
}

.about .about__carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0;
}

.about .about__carts .about__cart {
  width: 300px;
  text-align: left;
}

.about .about__carts .about__cart .about__cart-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: #474747;
  letter-spacing: 0.7px;
}

.about .about__carts .about__cart .about__cart-sub-title {
  color: #9e9e9e;
}

.about .about__carts .about__cart p {
  font-size: 15px;
  color: #474747;
  margin-top: 20px;
  font-family: "HelveticaNeueCyr-Thin";
}

.about .about-cats-person {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-cats-person .cart-person {
  width: 298px;
}

.about .about-cats-person .cart-person .cart-person-bot-part {
  padding: 10px 10px;
}

.about .about-cats-person .cart-person .cart-person-bot-part .cart-person_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Bebas Neue', cursive;
}

.about .about-cats-person .cart-person .cart-person-bot-part .cart-person_title h1 {
  color: #474747;
  font-size: 20px;
  letter-spacing: 1px;
}

.about .about-cats-person .cart-person .cart-person-bot-part .cart-person_title h2 {
  font-size: 15px;
  color: #474747;
  letter-spacing: 1px;
}

.about .about-cats-person .cart-person .cart-person-bot-part .classification {
  font-size: 12px;
  color: #949393;
  font-family: "HelveticaNeueCyr-Thin";
  margin: 10px 0;
}

.about .about-cats-person .cart-person .cart-person-bot-part p {
  color: #464646;
  font-size: 15px;
  font-family: "HelveticaNeueCyr-Thin";
}

.about__shadow {
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.7);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.7);
}

@media (min-width: 700px) and (max-width: 950px) {
  .about-cats-person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-cats-person .cart-person {
    margin-top: 50px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text .about__titel {
    text-align: center;
  }
  .about .about__text .about__sub-title {
    text-align: center;
    max-width: none;
  }
  .about__carts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__carts .about__cart {
    margin-top: 50px;
  }
}

@media (min-width: 200px) and (max-width: 699px) {
  .about-cats-person {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-cats-person .cart-person {
    margin-top: 50px;
  }
  .about__carts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__carts .about__cart {
    margin-top: 50px;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text {
    margin-top: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__text .about__titel {
    text-align: center;
  }
  .about .about__text .about__sub-title {
    text-align: center;
    max-width: none;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts .contact_main-part {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: left;
}

.contacts .contact_main-part .contact_main-info {
  width: 80%;
}

.contacts .contact_main-part .contact_main-info p {
  color: #464646;
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  margin: 20px 0;
}

.contacts .contact_main-part .contact_main-info .contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.contacts .contact_main-part .contact_main-info .contact-form .data {
  padding: 15px 20px;
  font-size: 12px;
  font-family: "HelveticaNeueCyr-Thin";
  color: #c6c6c6;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  outline: none;
  margin-top: 20px;
}

.contacts .contact_main-part .contact_main-info .contact-form .inp {
  width: 220px;
}

.contacts .contact_main-part .contact_main-info .contact-form .mes {
  height: 200px;
  resize: none;
}

.contacts .contact_main-part .contact_main-info a {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474747;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts .contact_main-part .contact_main-info a span {
  margin-left: 10px;
}

.contacts .contact_main-part .contact_main-info a:hover {
  color: #a5a5a5;
}

.contacts .contact_right-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contact_title {
  margin: 30px 0;
  width: 80%;
}

.contact_title h1 {
  color: #474747;
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.contact_title p {
  color: #464646;
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  margin-top: 20px;
}

@media (min-width: 600px) and (max-width: 749px) {
  .b-c__second-part {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 599px) {
  .b-c__second-part {
    display: none;
    width: 0;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
  .contacts .contact_main-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.projects .projects__main-part {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.projects .projects__main-part .navbar__categori-proj ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .projects__main-part .navbar__categori-proj ul li {
  text-transform: uppercase;
  color: #474747;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.projects .projects__main-part .navbar__categori-proj ul li:not(:last-child) {
  padding-right: 20px;
  border-right: 1px solid #474747;
}

.projects .projects__main-part .navbar__categori-proj ul li:not(:first-child) {
  margin-left: 20px;
}

.projects .projects__main-part .navbar__categori-proj ul li:hover {
  color: #9e9e9e;
}

.projects .projects__main-part .projects__main__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
}

.projects .projects__main-part .projects__main__posts .projects__main_post {
  margin-top: 20px;
  border: 1px solid #9e9e9e;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 207px;
}

.projects .projects__main-part .projects__main__posts .projects__main_post img {
  -webkit-transform: translateY(-2px) translateX(-2px);
          transform: translateY(-2px) translateX(-2px);
  width: 208px;
}

.projects .projects__main-part .projects__main__posts .projects__main_post .post_text {
  margin: 10px;
}

.projects .projects__main-part .projects__main__posts .projects__main_post .post_text h1 {
  font-size: 16px;
  color: #474747;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.projects .projects__main-part .projects__main__posts .projects__main_post .post_text h2 {
  margin: 10px 0;
  color: #949393;
  font-size: 12px;
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.projects .projects__main-part .projects__main__posts .projects__main_post .post_text p {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  color: #464646;
}

.projects .projects__menu-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
/*# sourceMappingURL=style.css.map */