@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 0 auto;
  width: 940px;
}

@font-face {
  font-family: "HelveticaNeueCyr-Thin";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

.header .header__top-line {
  width: 100%;
  background: #eaeaea;
  height: 7px;
}

.header .header__top-line .header__top-line-img {
  margin: 0 auto;
  text-align: center;
}

.header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 25px 0;
}

.header .header__inner .logo {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
}

.header .header__inner .logo a {
  color: #474747;
  text-decoration: none;
}

.header .header__inner .navbar {
  font-family: 'Bebas Neue', cursive;
  text-transform: uppercase;
}

.header .header__inner .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.header .header__inner .navbar ul li {
  text-align: left;
}

.header .header__inner .navbar ul li:not(:last-child) {
  margin-right: 60px;
}

.header .header__inner .navbar ul li span {
  display: block;
  font-size: 12px;
  color: #a5a5a5;
}

.header .header__inner .navbar ul li a {
  font-size: 20px;
  color: #474747;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header .header__inner .navbar ul li a:hover {
  color: #a5a5a5;
}

@media (min-width: 960px) and (max-width: 1200px) {
  .header__inner {
    margin: 0 50px;
  }
  .header__top-line {
    display: none;
  }
}

@media (min-width: 600px) and (max-width: 1199px) {
  .header__inner {
    margin: 0 50px;
  }
  .header__top-line {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .header .header__inner {
    display: block;
    text-align: center;
  }
  .header .header__inner .logo {
    font-size: 80px;
  }
  .header .header__inner .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header .header__inner .navbar ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .header__inner .navbar ul li {
    margin: 0;
    text-align: center;
  }
  .header .header__inner .navbar ul li:not(:last-child), .header .header__inner .navbar ul li:not(:first-child) {
    margin: 0;
    margin-top: 20px;
  }
  .header .header__inner .navbar ul li span {
    font-size: 40px;
  }
  .header .header__inner .navbar ul li a {
    font-size: 60px;
  }
  .header__top-line {
    display: none;
  }
}

.slide {
  position: relative;
  font-family: 'Bebas Neue', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide .slide__info {
  width: 940px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  outline: none;
}

.slide .slide__info .slide__text {
  padding: 10px 20px;
  background: #474747;
  text-transform: uppercase;
}

.slide .slide__info .slide__text .slide-text-first {
  display: block;
  font-size: 14px;
  color: #9a9a9a;
}

.slide .slide__info .slide__text .slide-text-secondary {
  font-size: 28px;
  color: #fff;
  letter-spacing: 1px;
}

.slide .slide__info .slide__number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide .slide__info .slide__number .slide-position {
  cursor: pointer;
  content: "";
  display: block;
  width: 23px;
  height: 5px;
  background: #fff;
  margin: 0 40px 15px 0;
  -webkit-transition: 0.5;
  transition: 0.5;
}

.slide .slide__info .slide__number .slide-position:not(:last-child) {
  margin-right: 7px;
}

.slide .slide__info .slide__number .slide-position:hover {
  background: #444444;
}

.slide .slide__info .slide__number .slide-active {
  background: #444444;
}

.info-about-slide {
  -webkit-transform: translateY(-15%);
          transform: translateY(-15%);
  width: 940px;
}

.info-about-slide .info__img {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.info-about-slide .info-a-s__text {
  margin: 0;
  padding: 20px 15px;
  color: #474747;
  background: #f6f6f6;
  font-family: 'Bebas Neue', cursive;
}

.info-about-slide .info-a-s__text h3 {
  font-size: 16px;
  letter-spacing: 0.8px;
}

.info-about-slide .info-a-s__text p {
  margin-top: 15px;
  font-size: 12px;
}

@media (min-width: 600px) and (max-width: 1199px) {
  .slide .slide__number {
    display: none;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .slide {
    display: none;
  }
  .info-about-slide {
    display: none;
  }
}

.features__inner {
  margin: 90px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__inner .features__blcok {
  width: 300px;
}

.features__inner .features__blcok .features__titel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.features__inner .features__blcok .features__titel h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  width: 200px;
  margin-left: 30px;
  color: #474747;
}

.features__inner .features__blcok .features__titel img {
  height: 50px;
}

.features__inner p {
  font-family: "HelveticaNeueCyr-Thin";
  color: #414141;
  font-size: 15px;
  margin: 20px 0;
}

.features__inner a {
  color: #474747;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.features__inner a span {
  margin-left: 10px;
}

.features__inner a:hover {
  color: #a5a5a5;
}

@media (min-width: 200px) and (max-width: 600px) {
  .features__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__inner .features__blcok {
    width: 280px;
  }
  .features__inner .features__blcok:not(:first-child) {
    margin-top: 100px;
  }
  .features__inner .features__blcok .features__titel h1 {
    font-size: 35px;
  }
  .features__inner .features__blcok p {
    font-size: 30px;
  }
  .features__inner .features__blcok a {
    font-size: 30px;
  }
  .features__inner .features__blcok a img {
    height: 20px;
  }
}

.lw__work {
  background: #fff url(../../img/HeaderBackground.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.lw__work .lw-titel {
  background: #fff;
  width: 180px;
}

.lw__work .lw-titel h1 {
  font-size: 25px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #474747;
}

.lw__carts {
  width: 940px;
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 220px;
}

.lw__carts .cart {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.lw__carts .cart:not(:first-child) {
  margin-left: 20px;
}

.lw__carts .cart h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #474747;
  font-family: 'Bebas Neue', cursive;
}

.lw__carts .cart p {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 15px;
  color: #474747;
}

.lw__carts .cart a {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #474747;
  font-size: 15px;
  font-family: 'Bebas Neue', cursive;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.lw__carts .cart a span {
  margin-left: 10px;
}

.lw__carts .cart a:hover {
  color: #a5a5a5;
}

@media (min-width: 600px) and (max-width: 940px) {
  .lw__carts {
    margin-right: 20px;
    margin-left: 20px;
  }
  .lw__carts .cart .cart-img {
    height: 115px;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .lw__work {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lw__work .lw-titel {
    margin: 50px 0;
  }
  .lw__work .lw-titel h1 {
    font-size: 40px;
  }
  .footer__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-self: center;
  }
  .lw__carts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
  .lw__carts .cart {
    margin-bottom: 50px;
  }
  .lw__carts .cart:not(:first-child) {
    margin: 0;
    margin-bottom: 50px;
  }
  .lw__carts .cart .cart-img {
    height: 200px;
  }
  .lw__carts .cart h1 {
    font-size: 30px;
  }
  .lw__carts .cart p {
    font-size: 25px;
  }
  .lw__carts .cart a {
    font-size: 20px;
  }
  .lw__carts .cart a img {
    height: 15px;
  }
}

.footer__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  background: #fff url(../../img/FooterLine.png) repeat;
  height: 5px;
}

.footer__content {
  background: #f8f8f8;
}

.footer__content .footer__inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__content .footer__inner .text {
  font-family: "HelveticaNeueCyr-Thin";
  font-size: 12px;
  color: #9b9b9b;
}

.footer__content .footer__inner .text span {
  color: #656565;
}

@media (min-width: 600px) and (max-width: 940px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 200px) and (max-width: 600px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */