.posts__meneger {
    display: flex;
    align-items: center;
    margin: 45px 0;
    .pages-posts {
        cursor: pointer;
        content: "";
        display: block;
        width: 23px;
        height: 5px;
        background: #9a9a9a;
        margin: 0 40px 15px 0;
        transition: 0.4;
        &:not(:last-child) {
            margin-right: 7px;
        }
        &:hover {
            background:#444444;
        }
    }
    .pages-now {
        background: #e8e6e6;
    }
}

.blog-content__inner {
    display: flex;
    justify-content: space-between;
    .b-c__main-part {
        width: 70%;
        .b-c__main-part__titel {
            text-align: left;
            h1 {
                color: $main-color;
                font-size: 25px;
                font-family: 'Bebas Neue', cursive;
                letter-spacing: 1px;
            }
            p {
                font-family: "HelveticaNeueCyr-Thin";
                font-size: 15px;
                color: $p-color;
                width: 520px;
                margin-top: 10px;
            }
        }
        .b-c__main-part__content {
            text-align: left;
            .b-c-artical {
                margin-top: 20px;
                .artical-top__line {
                    background: #fff url(../../img/blog/HeaderBack.png) no-repeat;
                    height: 10px;
                    display: flex;
                    justify-content: center;
                    margin: 0 auto 30px auto;
                }
                .artical__titel {
                    color: $post-titel-color;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-family: 'Bebas Neue', cursive;
                }
                .artical__img {
                    margin: 10px 0;
                }
                .artical__info {
                    margin-top: 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .artical__info__briefly {
                        width: 25%;
                        .a_i_brf {
                            .a_i_brf_titel {
                                margin-top: 8px;
                                font-size: 18px;
                                letter-spacing: 0.8px;
                                color: $post-titel-color;
                                font-family: 'Bebas Neue', cursive;
                            }
                            .a_i_brf_titel-info {
                                color: #bababa;
                                font-family: "HelveticaNeueCyr-Thin"; 
                                font-size: 12px;
                                margin-top: 5px;
                            }
                        }
                    }
                    .artical__info__text {
                        width: 75%;
                        p {
                            color: #414141;
                            font-size: 15px;
                            font-family: "HelveticaNeueCyr-Thin"; 
                            &:not(:first-child) {
                                margin-top: 20px;
                            }
                        }
                    }
                }
            }
            
        }
    }
    .b-c__second-part {
        width: 25%;
        margin-top: 46px;
        .b-c__section {
            margin: 20px 0;
            .b-c__sections__titel {
                font-family: 'Bebas Neue', cursive;
                color: $post-titel-color;
                font-size: 15px;
                letter-spacing: 1px;
            }
            .sections-line-img {
                background: #fff url(../../img/blog/Line.png);
                display: flex;
                justify-content: center;
                height: 5px;
                margin:  10px 0;
            }
            p {
                color: $post-titel-color;
                font-size: 14px;
                font-family: "HelveticaNeueCyr-Thin"; 
            }
            ul {
                list-style: none;
                li {
                    margin-top: 10px;
                    a {
                        color: $post-titel-color;
                        font-size: 15px;
                        font-family: "HelveticaNeueCyr-Thin"; 
                        text-decoration: none;
                    }
                }
            }
            .section__twit {
                margin-top: 20px;
                .sections-twit-post {
                    color: $post-titel-color;
                    font-size: 15px;
                    font-family: "HelveticaNeueCyr-Thin"; 
                    .twit-excretion {
                        color: #999999;
                    }
                }
                .sections-twit-time {
                    margin-top: 5px;
                    color: #999999;
                    font-size: 12px;
                    font-family: "HelveticaNeueCyr-Thin"; 
                }
            }
        }
    }
}

@media (min-width: 750px) and (max-width: 1200px) {
    .blog-content {
        .container {
            .b-c-artical {
                width: 400px;
            }
            width: 700px;
            .artical__img {
                img {
                    height: 210px;
                }
            }
        }
    }
}

@media (min-width: 600px) and (max-width: 749px) {
    .b-c__second-part {
        display: none;
    }
    .blog-content__inner {
        display: flex;
        justify-content: center;
        .b-c__main-part__content {
            display: block;
        }
    }
    .posts__meneger {
        justify-content: center;
        display: flex;
    }
}

@media (min-width: 200px) and (max-width: 599px) {
    .b-c__second-part {
        display: none;
    }
    .blog-content__inner {
        display: flex;
        justify-content: center;
        .b-c__main-part__content {
            display: block;
        }
        .artical__img {
            img {
                height: 250px;
            }
        }
        .b-c-artical {
            .artical__info__text {
                width: 50px;
            }
        
        }
    }
    .posts__meneger {
        justify-content: center;
        display: flex;
    }
}