@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
//font-family: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
//font-family: 'Bebas Neue', cursive;

@font-face {
    font-family: "HelveticaNeueCyr-Thin"; 
    src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 