

.header {
    .header__top-line {
        width: 100%;
        background: #eaeaea;
        height: 7px;
        .header__top-line-img {
            margin: 0 auto;
            text-align: center;
        }
    }
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 25px 0;
        .logo {
            font-family: 'Pacifico', cursive;
            font-size: 42px;
            a {
                color: $main-color;
                text-decoration: none;
            }
        }
        .navbar {
            font-family: 'Bebas Neue', cursive;
            text-transform: uppercase;
            ul {
                display: flex;
                list-style: none;
                li {
                    text-align: left;
                    &:not(:last-child) {
                        margin-right: 60px;
                    }
                    span {
                        display: block;
                        font-size: 12px;
                        color: $secondary-color;
                    }
                    a {
                        font-size: 20px;
                        color: $main-color;
                        text-decoration: none;
                        transition: 0.5s;
                        &:hover {
                            color: $secondary-color;
                        }
                    }
                }
            } 
        }
    }
}

@media (min-width: 960px) and (max-width: 1200px) {
    .header__inner {
        margin: 0 50px;
    }
    .header__top-line {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 1199px) {
    .header__inner {
        margin: 0 50px;
    }
    .header__top-line {
        display: none;
    }
}

@media (min-width: 200px) and (max-width: 600px) {
        .header .header__inner {
        display: block;
        text-align: center;
        .logo {
            font-size: 80px;
        }
        .navbar {
            display: flex;
            justify-content: center;
            ul {
                justify-content: center;
                flex-direction: column; 
                li {
                    margin: 0; 
                    text-align: center;
                    &:not(:last-child), &:not(:first-child) {   
                        margin: 0; 
                        margin-top: 20px;
                    }
                    span {
                        font-size: 40px;
                    }
                    a {
                        font-size: 60px;
                    }     
                }
            }
        } 
    }
    .header__top-line {
        display: none;
    }
}

//